.card {
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 12px;
}

.grid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}